 /* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* apply color, size, weight, and margin to title*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

/* apply color to hyperlinks */
header a {
    color: #fce138;
}

/* apply styles and color to body */
body {
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}